* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    border-radius: 0 0px 40px 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 300px;
    height: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li a {
    margin: 0 40px;
    color: white;
    text-decoration: none;
}

li a:hover {
    color: red;
}

.nav-bar {
    display: flex;
    height: 30px;
    margin-right: 30px;
}

input {
    border-radius: 20px;
    padding: 10px;
}

i {
    position: relative;
    color: black;
    right: 27px;
    top: 7px;
    cursor: pointer;
}

.bottom {
    display: flex;
    height: 50px;
    align-items: center;
}

.top {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.top button {
    width: 80px;
    height: 30px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: rgb(71, 71, 219);
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}



/* home section  */

#home img {
    width: 100%;
}

#home .quote {
    height: 50vh;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
}

.quote p {
    font-size: 4em;
    margin: 50px 130px;
}


/* slider  */

.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    max-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.15);
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.slider .slides {
    animation: slideAnimation 12s infinite;
}



/* products section  */

#products h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.box {
    background-color: #959595;
    /* border: 2px solid orange; */
    height: 57vh;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
}

.img {
    width: 100%;
    height: 83%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.box img:hover {
    transform: scale(1.03);
}

.pay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-top: 20px;
}

#buy {
    width: 70px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.row-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


footer {
    height: 7vh;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    background-color: #e0e0e0;
}

footer p {
    margin-top: 10px;
}

.insta,
.fb {
    position: relative;
    right: 2px;
    top: 1px;
}

footer a {
    text-decoration: none;
    color: black;
}